:root {
    --cu-white: #f8f8f8;
    --cu-black: #333333;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body { 
    background-color: var(--cu-white);
    color: var(--cu-black);
    padding: 2vh 1vw;
}

body > div {
    width: auto;
    border: 2px solid var(--cu-black);
    height: 200px;
    margin: 1vh 0vw;
    padding: 1vh 1vw;
}

h1 {
    font-size: xx-large;
}